version: '3.3'

services:
  postgres:
    container_name: aggrep_database
    image: postgres:11.6
    environment:
      POSTGRES_PASSWORD: "aggrep"
      POSTGRES_USER: "aggrep"
      POSTGRES_DB: "aggrep"
    ports:
      - "5432:5432"
    volumes:
      - aggrep-data:/var/lib/postgresql/data

  redis:  
    image: "redis:alpine"
    container_name: aggrep_redis

  web:
    build:
      context: .
    image: aggrep_backend
    container_name: aggrep_web
    ports:
      - 8080:8080
    command: ["./wait-for-postgres.sh", "flask run --host 0.0.0.0 --port 8080"]
    environment:
      PYTHONUNBUFFERED: 1
      PGPASSWORD: aggrep
      DATABASE_URL: postgresql://aggrep:aggrep@postgres/aggrep
      REDIS_URL: redis://redis:6379
      UI_URL: http://localhost:3000
    volumes:
      - ./aggrep:/code/aggrep
      - ./migrations:/code/migrations
      - ./tests:/code/tests
      - ./.env:/code/.env
      - ./autoapp.py:/code/autoapp.py
      - ./config.py:/code/config.py
      - ./setup.cfg:/code/setup.cfg
      - ./wait-for-postgres.sh:/code/wait-for-postgres.sh
    depends_on:
      - postgres

  worker:
    image: aggrep_backend
    container_name: aggrep_worker
    command: ["./wait-for-postgres.sh", "celery -A celery_worker:celery worker --beat --loglevel=info --concurrency 2"]
    environment:
      PYTHONUNBUFFERED: 1
      PGPASSWORD: aggrep
      DATABASE_URL: postgresql://aggrep:aggrep@postgres/aggrep
      REDIS_URL: redis://redis:6379
      UI_URL: http://localhost:3000
    volumes:
      - ./aggrep:/code/aggrep
      - ./.env:/code/.env
      - ./autoapp.py:/code/autoapp.py
      - ./celery_worker.py:/code/celery_worker.py
      - ./config.py:/code/config.py
      - ./newrelic.ini:/code/newrelic.ini
      - ./wait-for-postgres.sh:/code/wait-for-postgres.sh
    depends_on:
      - postgres
      - redis

volumes:
  aggrep-data:
    external: true