<p>
    Welcome to Ticker, {{ user.email }}! Please
    <a href="http://localhost:3000/email/confirm/{{token}}">confirm your email address</a>.
</p>
<p>
    As a registered user, you now have added control over the content you see. You can now manage the
    <a href="http://localhost:3000/manage/categories">categories</a> and 
    <a href="http://localhost:3000/manage/sources">sources</a> in your feed. You can also
    <a href="http://http://localhost:3000/bookmarks">bookmark posts</a> to read them later.
</p>
<p>Sincerely,</p>
<p>The Ticker Team</p>
