{% extends "email/base.html" %}

{% block content %}
<p>
    Welcome to Aggregate Report, {{ user.email }}! Please
    <a href="{{ui_url}}/email/confirm/{{token}}">confirm your email address</a>.
</p>
<p>
    As a registered user, you now have added control over the content you see. You can now manage the
    <a href="{{ui_url}}/manage/categories">categories</a> and 
    <a href="{{ui_url}}/manage/sources">sources</a> in your feed. You can also
    <a href="{{ui_url}}/bookmarks">bookmark posts</a> to read them later.
</p>
<p>Sincerely,</p>
<p>The Aggregate Report Team</p>
{% endblock %}
